.footer {
  padding: 2.5rem 3.25rem 1rem 2.5rem;
  background: #2c0b0b;

  .container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    @media screen and (max-width: $media-lg) {
      flex-direction: column;
      gap: 2rem;
    }

    .item {
      flex-basis: 33.33%;
    }
  }

  &--title {
    font-weight: 500;
  }
}

.copyright {
  margin-top: 2rem;
  text-align: center;
}