.container {
  @media screen and (max-width: $media-lg) {
    padding-inline: 1.5rem;
  }

  .hero {
    margin-bottom: 5rem;

    @media screen and (min-width: $media-lg) {
      margin-bottom: 6rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 100vh;
    }

    .header-placeholder {
      height: 70px;

      @media screen and (max-width: $media-lg) {
        height: 40px;
      }
    }
  }

  &--work {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-inline: 2rem;
    margin-bottom: 8rem;

    @media screen and (max-width: $media-lg) {
      flex-direction: column;
      margin-bottom: 5rem;
      padding-inline: 1rem;
      gap: 2.5rem;
    }

    .item {
      text-align: center;
      margin-bottom: 2rem;
      flex-basis: 33.33%;
      font-size: 1.125em;
      max-width: 350px;

      i {
        font-size: 3rem;
        height: 50px;
      }

      h3 {
        font-size: 1.5em;
        margin-bottom: 0.5rem;
      }
    }
  }

  &--address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    button {
      margin-bottom: 2rem;
      width: fit-content;
      border-radius: 2rem;
      padding: 1rem;
      font-size: 1.125em;

      @media screen and (max-width: $media-lg) {
        font-size: 0.875em;
        padding: 0.5rem;

        i {

        }
      }

      i {
        margin-left: 1rem;
        font-size: 1.125em;
      }
    }
  }

  &--about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-block: 4rem;

    img {
      max-height: 300px;
    }

    @media screen and (max-width: $media-lg) {
      flex-direction: column;
      gap: 2rem;
      margin-block: 3rem;

      &.programme {
        flex-direction: column-reverse;
      }
    }

    p {
      font-size: 1.25em;
      line-height: 1.75;

      @media screen and (max-width: $media-lg) {
        font-size: 1.125em;
        line-height: 1.5;
      }
    }

    .item {
      flex-basis: 50%;

      @media screen and (max-width: $media-lg) {
        flex-basis: 100%;
      }

      h3 {
        font-size: 2em;
        margin-bottom: 1rem;
      }
    }

    img {
      width: 500px;
      border-radius: 2rem;
      object-fit: cover;

      @media screen and (max-width: $media-lg) {
        width: 100%;
        flex: 1 1 100%;
      }
    }
  }
}

h1 {
  font-size: 5.5em;
  line-height: 1.125;

  @media screen and (max-width: $media-lg) {
    text-align: center;
    font-size: 3em;
    line-height: 1.125;
  }
}

.hp-input {
  max-width: 300px;
  background: #551e1e;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 5rem;
}

.wrapper {
  display: flex;
  gap: 2rem;

  @media screen and (max-width: $media-lg) {
    justify-content: center;
    gap: 0.5rem;
  }

  &--left,
  &--right {
    flex-basis: 50%;

    @media screen and (max-width: $media-lg) {
      flex-basis: 100%;
    }
  }

  @media screen and (max-width: $media-lg) {
    flex-wrap: wrap;
  }
}

.card {
  margin-bottom: 2rem;

  &--explore-dark {
    background: #780f1a;
    padding: 0 2rem;
    height: 300px;
    position: relative;

    @media screen and (max-width: $media-lg) {
      padding: 0 1rem;
      height: 200px;
    }

    .address {
      padding-top: 2rem;
      font-style: normal;
      font-size: 1.25em;
    }

    img {
      position: absolute;
      right: 50px;
      bottom: 0;
      width: 300px;
      height: auto;

      @media screen and (max-width: $media-lg) {
        width: 160px;
        right: 15px;
      }
    }
  }

  &--explore-light {
    display: flex;
    color: #030303;
    padding: 1rem;
    background: #fff4e5;
    height: 150px;
    position: relative;

    @media screen and (min-width: $media-lg) {
      padding: 1rem;
      height: 250px;
      max-width: 500px;
    }

    .item-1 {
      flex-basis: 60%;
    }

    .item-2 {
      flex-basis: 40%;
      font-size: 1.5em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media screen and (max-width: $media-lg) {
        font-size: 1.25em;
      }

      .btn-show {
        white-space: nowrap;
        border: 2px solid $main-bg;
        padding: 0.75rem 1.5rem;
        border-radius: 2rem;
        font-size: 1em;
        background: transparent;

        @media screen and (max-width: $media-lg) {
          font-size: 0.75em;
          padding: 0.5rem 1rem;
        }
      }
    }

    img {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 250px;

      @media screen and (max-width: $media-lg) {
        width: 160px;
      }
    }
  }
}

.title {
  &-1 {
    font-size: 2em;
    font-weight: 500;
  }

  &-2 {
    position: relative;
    font-size: 1.25em;
    margin-bottom: 7rem;
    width: fit-content;

    @media screen and (max-width: $media-lg) {
      font-size: 1em;
      font-style: italic;
      text-align: center;
      line-height: 1.65;
      margin-bottom: 0;
      padding-bottom: 5rem;

      &:before {
        left: -16px;
      }

      &:after {
        right: -16px;
      }
    }
  }

  &-4 {
    font-size: 1.125em;
    line-height: 1.5;
    font-weight: 400;

    @media screen and (max-width: $media-lg) {
      font-size: 1em;
    }
  }
}

.mt {
  &-1 {
    margin-top: 1rem;
  }

  &-2 {
    margin-top: 2rem;
  }
}

.mb {
  &-1 {
    margin-bottom: 1rem;
  }

  &-2 {
    margin-bottom: 2rem;
  }

  &-3 {
    margin-bottom: 7rem;
  }

  &-4 {
    margin-bottom: 10rem;
  }
}

.description {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.btn--down {
  border-radius: 2rem;
  border: 2px solid white;
  background-color: transparent;
  color: white;

  i {
    animation: float 2s linear infinite;
  }
}

@keyframes float {
  0% { transform: translateY(0px)}
  25% { transform: translateY(-3px)}
  50% { transform: translateY(6px)}
}